<%# <div>
  <h2>Login User</h2>
  <label for="uname">Choose a username: </label>
  <input type="text" id="uname" name="name" placeholder="existing user" />
  <div>
    <input type="submit" value="Enter" />
  </div>
</div> %>

<div>
  <h2>Login User</h2>
  <label for="uname">Choose a username: </label>
    <form action="/access" method="POST">
      <input type="text" id="uname" name="name" value="<%= @name %>" placeholder="Existing User">
      <input type="submit" value="Enter" >
    </form>
</div>


<div>
  
  <h2>Register User</h2>
  <label for="uname">Choose a username: </label>
  <form action="/signup" method="POST">
  <input type="text" id="name" name="name" placeholder="new user" value="<%=@newuser%>" pattern="^[A-Za-z0-9]+(?:[ _-][A-Za-z0-9]+)*$"/>
  <div>
    <input type="submit" value="Register" />
  </div>
  </form>
</div>