<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login/Register</title>
  </head>
  <body>
    <div>
      <h2>Login User</h2>
      <label for="uname">Choose a username: </label>
      <input type="text" id="uname" name="name" placeholder="existing user" />
      <div>
        <input type="submit" value="Enter" />
      </div>
    </div>

    <div>
      <h2>Register User</h2>
      <label for="uname">Choose a username: </label>
      <input type="text" id="uname" name="name" placeholder="new user" />
      <div>
        <input type="submit" value="Register" />
      </div>
    </div>
  </body>
</html>
