<div>
  <h2>Login User</h2>
  <label for="uname">Choose a username: </label>
  <input type="text" id="uname" name="name" placeholder="existing user" />
  <div>
    <input type="submit" value="Enter" />
  </div>
</div>

<div>
  <h2>Register User</h2>
  <label for="uname">Choose a username: </label>
  <input type="text" id="uname" name="name" placeholder="new user" />
  <div>
    <input type="submit" value="Register" />
  </div>
</div>