<h1>New Recipe</h1>
<hr />
<form action="/add-recipe" method= "POST" enctype="multipart/form-data">
  <input type="hidden" name="id_user" value=<%= @id_user %> />
  <label for="">Name</label>
  <input type="text" name="name" />
  <br />
  <label for="">Difficulty</label>
  <select name="difficult" id="">
    <option disabled="disabled" selected="selected" value="">Choose an option</option>
    <option value="1">Easy</option>
    <option value="2">Medium</option>
    <option value="3">Hard</option>
  </select>
  <br />
  <label for="">Quality</label>
  <select id="calidad" name="qualitly">
    <option value="" disabled= "disabled">---Enter your quality--</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br />
  <label for="">Duration time</label>
  <input type="number" name="duration_time" value="" placeholder="00:00" />
  <br />
  <label for="">Image</label>
  <input type="file" name="file">
  <br />
  <label for="">Preparation</label>
  <br />
  <textarea name="preparation" id="" cols="30" rows="10" placeholder="Recipes's preparation"></textarea>
  <br />
  <input type="submit" value="save">
</form>
