<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
  </head>
  <body>
    <header>
      <div>
        <h4>Login</h4>
        <form action="/access" method="POST">
          <label for="">Usuario</label>
          <input type="text" id="uname" name="name" value="<%= @name %>" placeholder="Existing User" />
          <input type="submit" value="Enter"/>
        </form>
      </div>
      <div>
        <h4>Register</h4>
        <form action="/signup" method="POST">
          <label for="">Usuario</label>
          <input type="text" placeholder="Usuario" value="<%=@newuser%>" pattern="^[A-Za-z0-9]+(?:[ _-][A-Za-z0-9]+)*$"/>
          <input type="submit" />
        </form>
      </div>
      <p><h1> hola soy <%= params[:name] %></h1><p>
    </header>
    <hr>
    <br />
    <%= yield %>
    <br />
    <hr>
    <footer>Soy el footer</footer>
  </body>
</html>
