<%#
<form action="/signup" method="POST">
  <input type="submit" value="Add new recipe" />
</form> %>

<a href="/add-recipe">Add new recipe</a>

<form action="/search" method="POST">
  <input type="text" name="recipe_title">
    <input type="hidden" name="name" value="<%= params[:name]%>"/>
  <input type="submit" value="Search"/>
</form>

<form action="/recipe" method= "GET">
 <button type="button">Add New Recipe!</button>
 </form>
<br /><br />

<h1>Recipes title</h1>
<form action="">
  <input type="submit" value="Delete" />
</form>
