<a href= "/access">Log In</a>
<form>
  <div>
    <select name="choice">
      <option value="first">Difficulty</option>
      <option value="second" selected>Quality</option>
      <option value="third">Duration Time</option>
    </select>
  </div>
</form>

<form>
  <div>
    <input
      type="checkbox"
      id="subscribeNews"
      name="subscribe"
      value="newsletter"
    />
    <label for="subscribeNews">Difficulty</label>
  </div>
  <div>
    <input
      type="checkbox"
      id="subscribeNews"
      name="subscribe"
      value="newsletter"
    />
    <label for="subscribeNews">Quality</label>
  </div>
</form>

<form>
  <div>
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div>
      <h1>Ceviche</h1>
      <span>*****</span>
      <span>easy</span>
      <p>Duration time: <span>25 min</span></p>
    </div>
  </div>
  <hr />
  <div>
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div>
      <h1>Aji de gallina</h1>
      <span>****</span>
      <span>medium</span>
      <p>Duration time: <span>35 min</span></p>
    </div>
  </div>
</form>
