<h1> <%= @recipe["name"] %> </h1>
<span> <%= @recipe["difficult"] %> </span>
<span> <%= @recipe["duration_time"] %> minutes </span>
<p> <%= @recipe["preparation"] %> </p>

<span>****</span>
<span>medium</span>
<p>Duration time: <span>35 min</span></p>
<input id="image" type="image" width="300" height="150" src="https://www.comedera.com/wp-content/uploads/2013/10/aji-de-gallina.jpg">

<%# <p>Preparation</p>
<div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore repudiandae ipsum vitae facilis a. Fuga officia molestias labore quas pariatur.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolor architecto quos est nesciunt, magnam ad quod aut iure veniam culpa corporis asperiores voluptatum exercitationem quidem dolorem eaque mollitia tempora.</p>
</div> %>
