/* shame */
.mauto{
  margin: auto;
}

.left{
  float:left;
}

.right{
  float:right;
}

.oh {
  overflow: hidden
}

.tac {
  text-align: center;
}

.row{
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none
}

.heart-off{
  opacity: 0.25
}

.features{
  display: flex;
  align-items: center;
  font-size: 16px;
}

.features .show-quality{
  display: grid;
  grid-column-gap: 4px;
  width: 96px;
  grid-template-columns: repeat(5, auto);
  margin-right: 10px
}

.button{
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 16px;
  font-family: monospace;
  color: white;
  background: tomato;
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  border-radius: 5px;
  cursor: pointer;
}

.button.-second{
  background: #e2e2e2;
  color: #1700ee;

}

.button:focus{
  outline: 0;
  border: none
}

.input{
  background: white;
  border-radius: 5px;
  border: 1px solid rgb(216, 216, 216);
  height: 36px;
  padding: 0 10px;
  box-sizing: border-box;
  color: black;
  font-size: 16px;
  font-family: monospace
}

.input.area{
  height: auto;
  padding: 10px;
}

.label{
  font-size: 16px;
  display: block;
  margin-bottom: 4px
}

.input-block{
  margin-bottom: 24px;
}

/* base */

body{
  background-color: rgb(206, 231, 251);
  font-family: monospace;
}

footer{
  text-align: center;
  padding: 16px;
  color: rgb(156, 156, 156)
}

header{
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  align-items: center;
}
header .menu{
  display: flex;
  align-items: center;
}

header .logo{
  font-size: 28px;
  color: tomato;
  font-weight: bold;
  text-decoration: none;
}

header .access{
  text-align: right;
  font-size: 16px;
  margin-left: 36px;
}
header .search{
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
}

header .search .input{
  border: none;
  outline-color: transparent;
  height: 36px;
  font-size: 18px;
  width: 300px;
}

header .search .input:focus{
  outline: 0;
  border: none
}

header .search .button{
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: auto;
  position: absolute;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.content{
  background-color: white;
  max-width: 960px;
  margin: auto;
  border-radius: 10px;
}

/* Recipes list - Home */

.list-recipe{
  padding: 32px;
  padding-bottom: 0;
}
.list-recipe .item{
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgb(223, 223, 223)
}

.list-recipe .item:last-child{
  margin-bottom: 0;
}

.list-recipe .features{
  font-size: 16px !important;
}

.list-recipe .image{
  margin-right: 24px;
  border-radius: 5px;
}

.list-recipe .title{
  font-size: 24px;
  margin: 0;
  font-weight: normal;
  margin-bottom: 8px;
  margin-top: 6px;
}

.list-recipe .title a{
  text-decoration: none;
}

/* Access */
.page-access{
  padding: 40px;
  display: flex;
  justify-content: center;
}
.page-access .access-form{
  padding: 16px 64px 48px
}

.page-access .access-form:first-child{
  border-right: 1px solid rgb(223, 223, 223);
}

.page-access .access-form .input{
  margin-bottom: 16px;
}

/* Recipe page */
.page-recipe{
  padding: 16px 32px;
}

.page-recipe .title{
  font-size: 32px;
  margin-bottom: 10px;
}

.page-recipe .image-recipe{
  border-radius: 10px
}

.page-recipe .description{
  max-width: 768px;
  font-size: 20px;
  margin: 40px auto;
}

.page-recipe .description ul{
  padding-left: 24px;
}

.page-recipe .description li{
  list-style: disc;
}

.page-recipe .steps{
  width: 768px;
  margin: auto;
}

.page-recipe .main-content .features{
  justify-content: center;
  margin-bottom: 32px;
}

.page-recipe .evaluation{
  max-width: 768px;
  margin: auto;
  margin-top: 60px;
  padding-top: 40px;
  border-top: 1px solid rgb(223, 223, 223);
}

.page-recipe .feedback-input{
  width: 200px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.page-recipe .feedback-form .button{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -3px;
}

.page-recipe .feedback-form{
  display: flex;
  margin-bottom: 16px
}

/* Dashboard */
.dashboard_head{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding-bottom: 16px;
  margin-bottom: 32px;
}

.dashboard_head .new-recipe{
  display: inline-block;
  text-decoration: none;
}

.dashboard_head .title{
  margin: 0;
}